.idea/deploymentTargetSelector.xml
.idea/modules/
.idea/shelf/Uncommitted_changes_before_Checkout_at_3_8_2025_9_49_PM_[Changes]/
.idea/shelf/Uncommitted_changes_before_Checkout_at_3_8_2025_9_49_PM__Changes_.xml
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/main/taskadoo_app/ComposableSingletons$LoginScreenKt$lambda-1$1.dex
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/main/taskadoo_app/ComposableSingletons$LoginScreenKt$lambda-2$1.dex
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/main/taskadoo_app/ComposableSingletons$LoginScreenKt.dex
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/main/taskadoo_app/LoginScreen.dex
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_0.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_1.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_11.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_12.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_13.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_14.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_15.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_2.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_3.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_4.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_5.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_6.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_7.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_8.jar
app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_9.jar
app/build/tmp/
.idea/shelf/Uncommitted_changes_before_Checkout_at_3_8_2025_9_49_PM_[Changes]/
.idea/workspace.xml