taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-af/values-af.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-am/values-am.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ar/values-ar.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-as/values-as.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-az/values-az.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-be/values-be.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bg/values-bg.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bn/values-bn.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-bs/values-bs.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ca/values-ca.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-cs/values-cs.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-da/values-da.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-de/values-de.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-el/values-el.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rCA/values-en-rCA.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-en-rXC/values-en-rXC.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-es/values-es.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-et/values-et.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-eu/values-eu.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fa/values-fa.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fi/values-fi.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-fr/values-fr.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-gl/values-gl.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-gu/values-gu.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hi/values-hi.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hr/values-hr.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hu/values-hu.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-hy/values-hy.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-in/values-in.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-is/values-is.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-it/values-it.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-iw/values-iw.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ja/values-ja.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ka/values-ka.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-kk/values-kk.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-km/values-km.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-kn/values-kn.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ko/values-ko.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ky/values-ky.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lo/values-lo.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lt/values-lt.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-lv/values-lv.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mk/values-mk.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ml/values-ml.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mn/values-mn.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-mr/values-mr.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ms/values-ms.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-my/values-my.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-nb/values-nb.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ne/values-ne.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-nl/values-nl.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-or/values-or.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pa/values-pa.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pl/values-pl.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-pt/values-pt.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ro/values-ro.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ru/values-ru.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-si/values-si.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sk/values-sk.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sl/values-sl.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sq/values-sq.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sr/values-sr.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sv/values-sv.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-sw/values-sw.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ta/values-ta.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-te/values-te.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-th/values-th.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-tl/values-tl.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-tr/values-tr.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-uk/values-uk.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-ur/values-ur.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-uz/values-uz.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-v21/values-v21.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-vi/values-vi.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
taskadoo_app/app/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values-zu/values-zu.xml
taskadoo_app/.idea/modules/app/taskadoo_app.app.iml
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/main/taskadoo_app/ComposableSingletons$LoginScreenKt$lambda-1$1.dex
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/main/taskadoo_app/ComposableSingletons$LoginScreenKt$lambda-2$1.dex
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/main/taskadoo_app/ComposableSingletons$LoginScreenKt.dex
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/main/taskadoo_app/LoginScreen.dex
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_0.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_1.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_11.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_12.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_13.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_14.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_15.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_2.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_3.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_4.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_5.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_6.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_7.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_8.jar
taskadoo_app/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/db8440cad41421747149b76cc638f2c53369a5db8095e1d7f2eb5f4911f91e30_9.jar
taskadoo_app/app/build/tmp/kotlin-classes/debug/com/main/taskadoo_app/ComposableSingletons$LoginScreenKt$lambda-1$1.class
taskadoo_app/app/build/tmp/kotlin-classes/debug/com/main/taskadoo_app/ComposableSingletons$LoginScreenKt$lambda-2$1.class
taskadoo_app/app/build/tmp/kotlin-classes/debug/com/main/taskadoo_app/ComposableSingletons$LoginScreenKt.class
taskadoo_app/app/build/tmp/kotlin-classes/debug/com/main/taskadoo_app/LoginScreen.class
